@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<TaskList>

<div class="text-center">
    <h1 class="display-4">TO-DO List</h1>
</div>

<a asp-action="Create">Create new Task list</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Tasks</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
